@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222034;
        --foreground: #ededed;
        --bg-background: #2e257c;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.start-adventure-button {
    background: var(--bg-background);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.basic-introduction-home {
    text-align: center;
    letter-spacing: 2;
    font-weight: bold;
}

.adventure-container {
    position: relative;
    width: 400px;
    height: 400px;
    align-items: center;
}

.adventure-container:hover .home-bonfire-gif {
    opacity: 0.3;
}

.adventure-container:hover .start-adventure-div {
    opacity: 1;
}

.home-bonfire-gif {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    width: 400px;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.start-adventure-div {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
